/* CSS for SpiffyCorners */
.spiffy {
	display: block
}

.spiffy * {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #eaeaea
}

.spiffy1 {
	border-right: 1px solid #f5f5f5;
	padding-right: 1px;
	margin-right: 3px;
	border-left: 1px solid #f5f5f5;
	padding-left: 1px;
	margin-left: 3px;
	background: #efefef;
}

.spiffy2 {
	border-right: 1px solid #fcfcfc;
	border-left: 1px solid #fcfcfc;
	padding: 0px 1px;
	background: #ededed;
	margin: 0px 1px;
}

.spiffy3 {
	border-right: 1px solid #ededed;
	border-left: 1px solid #ededed;
	margin: 0px 1px;
}

.spiffy4 {
	border-right: 1px solid #f5f5f5;
	border-left: 1px solid #f5f5f5;
}

.spiffy5 {
	border-right: 1px solid #efefef;
	border-left: 1px solid #efefef;
}

.spiffy_content {
	padding: 0px 5px;
	background: #eaeaea;
}